@model PrimeBuy.Web.Models.ProductPageViewModel;
@{
    ViewData["Title"] = "View";
}

<div class="main-container">
    <div class="product-information" style="display: flex">
        <div class="information-left" style="margin:10px;">
            <img style="width: 500px; height:300px; object-fit:contain;"src="@Url.Content(@Model.ProductViewDto.ImagePath)" alt="">
        </div>
        <div class="information-right"style="margin:10px">
            <div class="container">
                <h3>@Model.ProductViewDto.Name</h3>
            </div>
            <div class="container" style="font-size:48px; margin-top: 30px">
                $@Model.ProductViewDto.Price
            </div>
            <div class="container" style="margin-top: 30px">
                <a asp-action="AddProduct" asp-controller="Cart" asp-route-id="@Model.ProductViewDto.Id" class="btn btn-outline-primary"><i class="fas fa-shopping-cart"></i> Add to cart</a>
            </div>
        </div>
    </div>
    <div class="container product-information-description">
        <h3>Product Description</h3>
        <div class="decription-content">
            @Html.Raw(@Model.ProductViewDto.Description)
        </div>
    </div>
    <div class="container similar-products">
        <h3>Similar products</h3>
        <div class="row">
            @foreach (var similarProduct in Model.SimilarProducts)
            {
                 <div class="col-md-3">
                <div class="product-card">
                    <img style="width:100%; height: 200px; object-fit:contain;" src="@Url.Content(similarProduct.ImagePath)" class="card-image">
                    <div class="card-body">
                        <div class="product-name">
                            <p><a asp-action="View" asp-controller="Product" asp-route-id=@similarProduct.Id>@similarProduct.Name</a></p>
                        </div>
                        <div class="product-card-buy">
                            <p>$@similarProduct.Price</p>
                            <a class="btn btn-outline-primary" asp-action="AddProduct" asp-controller="Cart" asp-route-id=@similarProduct.Id><i class="fas fa-shopping-cart"></i> Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            }
            </div>
        </div>
    </div>
</div>
